In [23]:
#imports 
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.ensemble import IsolationForest
import numpy as np
from sklearn.neighbors import LocalOutlierFactor
import matplotlib.pyplot as plt

In [2]:
#read in data 
filepath = Path("../Data/Change_Order_Random - Sheet1.csv")
changeorder = pd.read_csv(filepath)
changeorder.head()

,ID,Scope of Work,Labor Type,Labor Rate,Labor Hours,Total Labor Cost,Material Type,Material Cost,Approved,Total
0,1,NaN,1,165,12,1980,4,450,1,2430
1,2,NaN,1,165,18,2970,2,250,0,3220
2,3,NaN,3,205,9,1845,4,450,0,2295
3,4,NaN,2,160,18,2880,5,550,1,3430
4,5,NaN,4,200,5,1000,5,550,0,1550

In [27]:
# define X 
X=changeorder

In [28]:
# Splitting into Train and Test sets

X_train, X_test = train_test_split(X)

In [9]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [10]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

C:\Users\smith\Anaconda3\lib\site-packages\sklearn\utils\extmath.py:747: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\smith\Anaconda3\lib\site-packages\sklearn\utils\extmath.py:688: RuntimeWarning: Degrees of freedom <= 0 for slice.
  result = op(x, *args, **kwargs)

In [11]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
np.random.seed(42)

In [ ]:
X_inliers = 0.3 * np.random.randn(100, 2)