In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from pathlib import Path

In [29]:
# Set the file paths for changing orders
co_path_1 = Path("/Users/jiwookkim/Desktop/Changeorders/Data/Change-Orders-Export-2020-February-08-1609.csv")
co_path_2 = Path("/Users/jiwookkim/Desktop/Changeorders/Data/Change-Orders-Export-2020-February-08-1618.csv")
co_path_3 = Path("/Users/jiwookkim/Desktop/Changeorders/Data/Change-Orders-Export-2020-February-08-1632.csv")
co_path_4 = Path("/Users/jiwookkim/Desktop/Changeorders/Data/Change-Orders-Export-2020-February-08-1633.csv")

#Set the file paths for tickets
tickets_path_1 = Path("/Users/jiwookkim/Desktop/Changeorders/Data/Tickets-Export-2020-February-08-1621.csv")
tickets_path_2 = Path("/Users/jiwookkim/Desktop/Changeorders/Data/Tickets-Export-2020-February-08-1623.csv")
tickets_path_3 = Path("/Users/jiwookkim/Desktop/Changeorders/Data/Tickets-Export-2020-February-08-1639.csv")
tickets_path_4 = Path("/Users/jiwookkim/Desktop/Changeorders/Data/Tickets-Export-2020-February-08-1640.csv")
tickets_path_5 = Path("/Users/jiwookkim/Desktop/Changeorders/Data/Tickets-Export-2020-February-08-1644.csv")
tickets_path_6 = Path("/Users/jiwookkim/Desktop/Changeorders/Data/Tickets-Export-2020-February-08-1647.csv")


# Read the CSVs for Changing orders
co_1_df = pd.read_csv(co_path_1)
co_2_df = pd.read_csv(co_path_2)
co_3_df = pd.read_csv(co_path_3)
co_4_df = pd.read_csv(co_path_4)

#Read the CSVs for tickets
ticket_1_df = pd.read_csv(tickets_path_1, header=0, escapechar='\\')
ticket_2_df = pd.read_csv(tickets_path_2, header=0, escapechar='\\')
ticket_3_df = pd.read_csv(tickets_path_3, header=0, escapechar='\\')
ticket_4_df = pd.read_csv(tickets_path_4, header=0, escapechar='\\')
ticket_5_df = pd.read_csv(tickets_path_5, header=0, escapechar='\\')
ticket_6_df = pd.read_csv(tickets_path_6, header=0, escapechar='\\')

#Concatenating changing orders and tickets dataframe
co_df = pd.concat([co_1_df, co_2_df, co_3_df, co_4_df], axis="rows", join="inner")
ticket_df = pd.concat([ticket_1_df, ticket_2_df, ticket_3_df, ticket_4_df, ticket_5_df, ticket_6_df], axis="rows", join='inner')

# Retrieving DataFrame data types
print(co_df.dtypes)
print()
print()
print(ticket_df.dtypes)

ID                                int64
Title                            object
Content                         float64
Excerpt                         float64
Date                             object
                                 ...
Material Breakdown_rate          object
Equipment Breakdown_type        float64
Equipment Breakdown_quantity    float64
Equipment Breakdown_unit        float64
Equipment Breakdown_rate        float64
Length: 80, dtype: object


ID                       int64
Title                   object
Content                 object
Excerpt                float64
Date                    object
                        ...
Subject.2               object
Signed?.2              float64
Work Start Date.2      float64
Optional End Date.2    float64
Work Description.3      object
Length: 98, dtype: object

In [48]:
# Identifying Series count
#co_df.count()
#ticket_df.count()

#co_df.columns
#co_df['_breakdowns_labor_0_hours'].head(200)
co_df.head(10)

,ID,Title,Content,Excerpt,Date,Post Type,Permalink,URL,Title.1,Caption,...,Labor Breakdown_hours,Labor Breakdown_rate,Material Breakdown_type,Material Breakdown_quantity,Material Breakdown_unit,Material Breakdown_rate,Equipment Breakdown_type,Equipment Breakdown_quantity,Equipment Breakdown_unit,Equipment Breakdown_rate
0,193,1 - ADD ALT # 309,NaN,NaN,2019-12-17,co,https://prince.tracfloapp.com/co/193/,NaN,NaN,NaN,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,248,1 - CO 1,NaN,NaN,2020-01-07,co,https://prince.tracfloapp.com/co/248/,NaN,NaN,NaN,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,251,2 - CO 2,NaN,NaN,2020-01-08,co,https://prince.tracfloapp.com/co/251/,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,252,3 - CO 3,NaN,NaN,2020-01-08,co,https://prince.tracfloapp.com/co/252/,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,253,4 - CO 4,NaN,NaN,2020-01-08,co,https://prince.tracfloapp.com/co/253/,NaN,NaN,NaN,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,254,5 - CO 5,NaN,NaN,2020-01-08,co,https://prince.tracfloapp.com/co/254/,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,255,6 - CO 6,NaN,NaN,2020-01-08,co,https://prince.tracfloapp.com/co/255/,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,256,7 - CO 7,NaN,NaN,2020-01-08,co,https://prince.tracfloapp.com/co/256/,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,273,2 - CO 2,NaN,NaN,2020-01-08,co,https://prince.tracfloapp.com/co/273/,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,274,3 - CO 3,NaN,NaN,2020-01-08,co,https://prince.tracfloapp.com/co/274/,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
#Dropping columns
#df.drop(['B', 'C'], axis=1)

ID                                 0
Title                              0
Content                         1753
Excerpt                         1753
Date                               0
                                ...
Material Breakdown_rate         1665
Equipment Breakdown_type        1753
Equipment Breakdown_quantity    1753
Equipment Breakdown_unit        1753
Equipment Breakdown_rate        1753
Length: 80, dtype: int64