In [20]:
#imports 
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.ensemble import IsolationForest
import numpy as np
from sklearn.neighbors import LocalOutlierFactor
import matplotlib.pyplot as plt
from estimators import Estimator
from estimators import Evaluator

In [37]:
#read in data 
filepath = Path("../Data/TracfloDataFullSet.csv")
changeorder = pd.read_csv(filepath,)
changeorder.head()

,total,paid_total,balance,breakdowns_labor_0_hours,breakdowns_labor_0_rate,breakdowns_material_0_rate,Slug,Total,Labor0Breakdown_quantity0total0,Labor0Breakdown_hourstotal,Labor0Breakdown_ratetotal
0,133000.0,0.0,133000.0,8.0,0.0,0.0,193.0,133000.0,0.0,8.0,165.0
1,27248.0,0.0,27248.0,8.0,0.0,0.0,248.0,27248.0,0.0,8.0,0.0
2,-5000.0,0.0,-5000.0,0.0,0.0,0.0,251.0,0.0,0.0,0.0,0.0
3,13852.0,0.0,13852.0,0.0,0.0,0.0,252.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,8.0,0.0,0.0,253.0,0.0,0.0,8.0,0.0

In [49]:
changeordermean=changeorder["breakdowns_labor_0_rate"]
changeordermean=changeordermean.replace(0,np.nan)
changeordermean=changeordermean.dropna()
changeordermean.head()
changeordermean.mean()

620.0230476190476

In [53]:
print(.2*620)
print(620-124)
print(620+124)

124.0
496
744

In [64]:
signals_df['Signal'] = 0.0

In [54]:
# create signals we are looking for 
negative_median_variance = 496
positive_median_variance = 744

In [67]:
# generate signals column

SyntaxError: invalid syntax (<ipython-input-67-7dbc88689228>, line 2)

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]